body {
    margin: 0;
}

ul,
h2,
h1 {
    margin: 0;
}

h1,
h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
}

h1 {
    color: #64a2f0;
}

h2 {
    color: #64f0c4;
}

span {
    user-select: none;
}

@media screen and (max-width: 768px) {
    body {
        margin-top: 24px;
    }
}